



/* 	Copyright Adam Gedney 3/4/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*==============COLORS=====================

      purple #5e4f77
 dark purple #473c5a
 	   white #f4f4f4
   dark grey #232323
  light grey #565658
  darkest purple #1f0f32
  nav line purple #3f3550
  yellow     #F2D275
  red        #BE3426

light purple background: #cec7d1 url("../images/entry-bg.jpg");
==========================================*/


/*==============FONTS=======================

font-family: 'Open Sans', sans-serif;
font-family: 'Varela Round', sans-serif;

==========================================*/

/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}





/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
	background: #f4f4f4;
	color: #424242;
	font: 62.5% 'Open Sans', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
}

h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 4.5em;
	line-height: 1.8em;
	color: #000;
	
	text-shadow: 0 2px 0 #473c5a;
}

h2, h3, h4, h5{
	font-family: 'Open Sans', sans-serif;
	
}

h2{
	font-size: 2.7em;
	font-weight: 100;
	line-height: 1.14em;
	color: #232323;
}

h2.alt{
	font-weight: 100;
}

h2.alt strong{
	font-weight:400;
}

h3, label, legend{
	color: #000;
	font-size: 1.9em;
	line-height: 1.8em;
}

p, ul, ol, dl, blockquote{
	font-size: 1.8em;
	line-height: 2.1;
	margin-bottom: 20px;
	font-weight: 100;
}

ul{
	line-height: 1.3em;
}

a{
	outline: none;
	text-decoration: none;
	color: #BE3426;
}

a:hover{
	color: #5e4f77;
}

strong{
	font-weight: 700;
}

blockquote{
	font-style: italic;
	margin: 36px 8.004803%; /* 36 from 449.73 (fivecol width) */
}

input[type="text"], input[type="email"], input#domain-search, textarea, select{
	text-transform: uppercase;
	font-size: 1.8em;
	color: #848484;
	background: none;
	border: 1px solid #232323;
	padding-left: 5px;
			border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.container{
	padding: 0;
}

.row{
	min-width: 0;
}

/*--------------------------------------Micro Clearfix--------------------------------------------*/


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*-------------------------------------- Start Buttons-------------------------------------------*/

.button, .button-small{
	display: block;
	background: #5e4f77;
	color:#f4f4f4;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #473c5a;
}

.button{
	width:286px;
	height:70px;
	line-height: 72px;
	font-size: 2.1em;
}

.button-small{
	width:239px;
	height:70px;
	line-height: 70px;
	font-size: 1.8em;
}

.button:visited, .button-small:visited{
	background: #5e4f77;
	color: #fff;
}

.button:hover, .button-small:hover{
	background: #473c5a;
	color: #f4f4f4;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}




/*--------------------------------------End Buttons/ Start Header------------------------------------*/


header{
	height: 54px;
	width: 100%;
	overflow: hidden;
	background: #5e4f77;
	margin-bottom: 108px;
}

.home-featured header{
	background: none;
	height: 72px;
	padding-top: 18px;
}

header h1{
	float: left;
	display: inline-block;
	background: url("../images/logo.png") no-repeat;
	margin-top: -9px;
	max-width: 100%;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

header nav{
	float: left;
	margin-top: 13px;
}

header nav ul{
	overflow: hidden;
}

header nav ul li{   
	float: left;
	padding: 5px 10px; /* not sure where to get the context width from? */
	border-right: solid 1px #3f3550;
}

header nav ul li:last-child{
	border-right: none;
}

header nav ul li a{
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	color: #f4f4f4;
	padding: 2px;
	text-shadow: 0 1px 0 #473c5a;
}

header nav ul li a:hover, a.current {
	color: #F2D275;
	transition-duration: .8s;
}




/*--------------------------------------End Header/ Start Landing-------------------------------*/

.container.home-image{
	background: url("../images/home-bg.jpg") no-repeat center top;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	max-height: 864px;
}

.landing {
	margin: 54px 10% 0;
	text-align: center;
	overflow: hidden;
}

.landing h1, .landing h2, .landing p{
	color: #d7dad3;
}

.landing h2{
	margin-bottom: 54px;
}

.landing p{
	width: 50%;
	margin: 0 25% 108px;
	
}

.landing .button{
	margin: 0 auto;
	color: #fff;
	opacity: .9;
}

#scroll-indicator{
	float: right;
}



/*--------------------------------------End Landing/ Start Entry Points-------------------------------*/

.entry-points.container{
	background: #cec7d1 url("../images/entry-bg.jpg");
	overflow: visible;
	padding: 36px 0;
}

.row .fourcol {
	width: 29.65%;
}

.entry-points .fourcol{
	text-align: center;
	border-left: solid 1px #959595;
	margin: auto 1.2% auto 0;
	padding-right: 1.2%;
	padding-left: 1.2%;
	min-height: 468px;
}

.entry-points .fourcol:first-child{
	border-left: none;
}

.entry-points .button-small{
	max-width: 241px; /* 68.749109% 241 from 350.55(fourcol width) */
	margin: 36px auto 30px;
}

.entry-points img{
	display: block;
	margin: 0 auto;
	min-height: 108px;
}

.entry-points p, .entry-points h2{
	color: #232323;
	text-align: left;
	margin: 6px 14.833833%; /* 52 from 350.55 */
	width: 69.890173%; /* 245 from 350.55 */
}
.entry-points p{
	font-size: 1.6em;
	line-height: 1.7em;
}




/*--------------------------------------End Entry Points / Start Home Details-------------------------------*/


.home-detail.container{
	background: #f4f4f4;
}


/*-------------Thumbnail Grid --------------*/


.thumbnail-grid{
	margin: 132px 7.2% 132px 0; /* 14.619883% 80 from  547.2 (sixcol width)  7.2% is an estimate */
}

.thumbnail-grid img{
	width: 24.122807%; /* 132 from 547.2 (sixcol width) */
	float: left;
	opacity: .5;
}

.thumbnail-grid img:first-child{
	margin-left: 48.245614%; /* 264 from 547.2 */
	margin-right: 24.122807%; /* 132 from 547.2 */
}

.thumbnail-grid img:nth-child(4){
	margin-right: 24.122807%; /* 132 from 547.2 */
}

.thumbnail-grid img:nth-child(5){
	margin-left: 24.122807%; /* 132 from 547.2 */
}

.thumbnail-grid img:nth-child(8){
	margin-left: 48.245614%; /* 264 from 547.2 */
}

.thumbnail-grid img:hover{
	opacity: 1;
	transition-duration: .8s;
}


/*-------------End Thumbnail Grid --------------*/


.home-detail-content{
	color: #000;
	margin-top: 132px;
	overflow: hidden;
}

.home-detail-content h2, .detail-content h2 {
	margin-bottom: 36px;
}

.home-detail-content .button, .detail-content .button{
	width: 288px; /* 64.038423% 288 from 449.73 (fivecol width)  */
	float: right;
	display: block;
	margin-top: 18px;
	margin-bottom: 18px;
}





/*--------------------------------------End / Start Footer-------------------------------*/


footer{
	background: #232323;
	min-height: 108px;
	margin-top: 108px;
}

footer .sixcol{
	text-align: center;
}

footer p{
	color: #f4f4f4;
	margin: 18px auto 0;
}

footer nav{
	margin: 0 14%;
}

footer nav ul{
	overflow: hidden;
}

footer nav ul li{   
	float: left;
	padding: 5px 8px; /* not sure where to get the context width from? */
}

footer nav ul li a{
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	color: #f4f4f4;
	font-size: .6em;
}

footer nav ul li a:hover{
	color: #F2D275;
	transition-duration: .8s;
}





/*--------------------------------------Page/Contact Page-------------------------------*/


#page{
	width: 100%;
}

#page-icon{
	width: 88px;
	float: right;
	margin-top: -36px;
	margin-right: -88px;
}

.detail-content{
	margin-top: 0;
}

.detail-content [type="submit"] {
	border: none;
}

.sixcol.detail-content{
	float: right;
	margin-right: 65px;
}


/*------------------Slider---------------------*/


.slider{
	max-width: 330px;
	max-height: 442px;
}

.image-sub{
	margin-top: 27px;
}

.image-sub img{
	display: block;
	max-width: 102px;
	max-height: 88px;
	margin: 0 auto 21px;
}

/*------------------ Form ---------------------*/

#contact-form{
	width: 420px;
}

.input-label{
	overflow: hidden;
}

.input-label label{
	width: 70px;
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: .8em;
}

.input-label input[type="text"], .input-label input[type="email"], textarea, .input-label select{
	width: 320px;
	min-height: 40px;
	float: right;
	margin-bottom: 18px;
}

.input-label select{
	height: 40px;
	background: url("../images/select-bg.png") no-repeat center right;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: none;
	-moz-appearance: none;

}

.checkbox{
	margin: 18px 0;
}

.checkbox input{
	width: 21px;
	height: 21px;
	float: left;
	margin-left: 90px;
}

.checkbox label{
	width: 200px;
	float: left;
	text-align: left;
	margin-left: 10px;
	margin-top: 6px;
	
}

.checkbox legend{
	width: 70px;
	float: left;
	margin-bottom: -55px;
	line-height: .9em;
	text-align: right;
}

.required{
	width: 100px;
	float: left;
	margin: -15px 0 0 83px;
}

.captcha{ /* -----------------------------Problems adding captcha --------------------------------------------------------------*/
	width: 320px;
	float: right;
	clear: left;
	display: none;
}

.input-label .button-small{
	width:189px;
	height:60px;
	line-height: 60px;
	float: right;
}



/*--------------------------------------Domain Name Page-------------------------------*/

form.single-line-form-wrapper{
	overflow: hidden;
}

section#domain{
	height: 36px;
	width: 80%;
	margin-bottom: 18px;
	border: solid 1px #232323;
	float: left;

}

input#domain-search{
	height: 36px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

section#domain select{
	float: right;
	min-width: 28%;
	height: 36px;
	font-size: 1.8em;
	border: none;
	border-left: solid 1px #232323;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: url("../images/select-bg.png") no-repeat center right;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;

}

.detail-content input.domain-button-small{
	float: left;
	width: 18%;
	height: 38px;
	line-height: 0;
	cursor: pointer;
}

@media only screen and (max-width: 1077px) {
.detail-content input.domain-button-small{
	width: 64px;
}
}/* / query */

@media only screen and (max-width: 410px){
form.single-line-form-wrapper{
	width: 104%;
}
}/* / query */


/*--------------------------------------Hosting Page-------------------------------*/


.plans .twelvecol{
	text-align: center;
	margin-bottom: 108px;
}

.plans h2 + p{
	width: 82%;
	margin: 0 auto;
}

.plan-title{
	display: block;
	width:180px;
	height:55px;
	background: #1f0f32;
	margin: -70px auto 0;
}

.plan-title:after{ /* Triangles not functioning in Chrome */
	content: " ";
    width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #1F0F32 transparent transparent;
}

.plan-title h2{
	color: #f4f4f4;
	font-weight: 500;
	text-align: center;
	line-height: 55px;
}

.plan-detail h3{
	padding: 9px 5px;
	margin: 0 50px;
	border-bottom: 1px solid #959595;
	text-align: left;
	color: #565658;
}

.plan-detail h3:first-child{
	line-height: 45px;
	font-size: 4.5em;
	margin-top: 18px;
	text-align: center;
	color: #232323;
}

.plan-detail h3 small{
	font-size: .4em;
}

.plan-detail h3 sup{
	vertical-align: top;
}

img.featured-small{
	margin-bottom: 36px;
}





/*


Begin Media Querys

@


*/







/*--------------------------------------@media full to tablet-------------------------------*/


@media only screen and (max-width: 1077px) {


.row header .fivecol{
	margin-right: 0;
}

header .row .sevencol .last{
	width: 100%;
}

header nav ul li{
	font-size: .8em;
	padding: 3px;
}

h2{
	font-size: 2em;
}

p{
	font-size: 1.6em;
	margin-left: auto;
	margin-right: auto;
}

.landing {
	margin-left: 0;
	margin-right: 0;
}

.button, .home-detail-content .button{
	width:216px;
	height:60px;
	line-height: 62px;
	font-size: 1.4em;
}

.button-small{
	width:189px;
	height:60px;
	line-height: 62px;
	font-size: 1.4em;
}

.slider, .static-img{
	margin-left: 20px;
}

input#domain-search, section#domain select{
	font-size: 1.2em;
}

footer p, blockquote{
	font-size: 1.3em;
}

footer nav ul{
	width: 85%;
	margin: 0 auto;
}

footer nav ul li{
	font-size: .8em;
	padding: 3px;
}

/*------------------ Contact Form ---------------------*/

.image-sub{
	margin-left: 20px;
}


} /*---/query---*/


/*--------------------------------------@media tablet to mobile-------------------------------*/


@media only screen and (max-width: 803px) {

.container.home-image{
	max-height: 975px;
}

#scroll-indicator{
	display: none;
}

.row .fivecol{
	width: 100%;
	margin: 0 auto;
}

.row .sevencol{
	width: 100%;
	margin: 0 auto;
}

header .sevencol .last{
	max-width: 90%;
}

header{
	height: 104px;
	overflow: visible;
}

header h1{
	float: none;
	max-width: 217px;
	margin: 0 auto;
	display: block;
	padding-bottom: 9px;
}

header nav{
	float: none;
	margin: 0;
}

header nav ul{
	width: 450px;
	margin: 9px auto;
}

.landing p{
	width: 90%;
	margin: 18px 5%;
	line-height: 1.5em;
}

.landing a.button{
	margin-bottom: 54px;
}

.landing h1{
	font-size: 4em;
	line-height: 1em;
	margin-bottom: 36px;
}

h1{
	font-size: 2.7em;
}

footer .threecol{
	display: none;
}

footer .row .sixcol{
	width: 100%;
}

footer nav{
	width: 320px;
	margin: 0 auto;
}

footer nav ul{
	font-size: 1.8em;
	line-height: 0;
	padding-bottom: 3px;
	width: 85%;
}

#page .row .fourcol, .fourcol.domain-names-page{
	float: none;
	margin: 0 auto;
	clear: both;
	width: 66%;
	opacity: .2;
	position: absolute;
}

#page .row .fourcol.retain-image{
	opacity: 1;
	position: static;
	max-width: 100%;
}

#page .sixcol, .entry-points .fourcol{
	float: none;
	width: 82.7%;
	margin: 0 auto;
	border-left: none;
}

.entry-points .fourcol{
	margin: 18px auto;
	min-height: 300px;
	border-bottom: solid 1px #959595;
}

.entry-points .fourcol h2{
	text-align: center;
}

.entry-points .fourcol p{
	text-align: center;
	padding-bottom: 18px;
}

.entry-points .fourcol:last-child{
	border-bottom: none;
}

.thumbnail-grid {
    display: none;
}

.fivecol.home-detail-content{
	width: 80%;
	padding: 54px 0 54px 54px;
}

.sixcol.detail-content{
	width: 80%;
}

#page-icon{
	display: none;
}

.image-sub{
	display: none;
}


/*------------------ Domain Name Page ---------------------*/


input#domain-search, section#domain select, .detail-content input.domain-button-small{
	font-size: 1.2em;
}


/*------------------ Hosting Page ---------------------*/


#page-short p{
	width: 82%;
	margin-top: 18px;
}

.plan-title{
	margin-top: 36px;
	width: 100%;
	background: rgba(31, 15, 50, .1);
}

.plan-title h2{
	color: #232323;
}

.plan-detail h3{
	text-align: center;
}

.plan-title:after{
	display: none;
}



} /*---/query---*/

/*--------------------------------------@475-320 nav adjustment-------------------------------*/


@media only screen and (max-width: 475px) {
			
			header nav ul{
				width: 320px;
			}

			header nav ul li{
				font-size: .5em;
				height: 20px;
				border-right: none;
			}

		}/* /query */


/*--------------------------------------@media mobile-------------------------------*/


@media only screen and (max-width: 600px) {

p{
	font-size: 1.1em!important;
}

header{
	height: 72px;
	margin-bottom: 72px;
}

header h1{
	padding-bottom: 10px;
}

header nav{
	display: none;
}

.landing{
	margin-top: 72px;
}

.landing h1{
	width: 98%;
}

.home-detail-content .button{
	float: none;
	margin: 0 auto;
}

footer{
	min-height: 65px;
}

footer .row.footer .sixcol{
	padding: 0;
	margin: 0 auto;
}

footer p{
	display: none;
}

footer nav ul{
	overflow: hidden;
	width: 98%;
	padding-bottom: 0;
}

footer nav ul li{
	float: left;
	height: 57px;
	width: 45px;
	border-right: solid 1px #474747;
	padding:8px 8px 0;
}

footer nav ul li:last-child{
	border-right: none;
	padding-right: 0;
}

footer nav ul li a{
	display: block;
	line-height: 9px;
	font-size: .4em;
	margin-top: 35px;
	padding: 0;
}

footer nav ul li:nth-child(1){
	background: url("../images/builder-icon-white.png") no-repeat center 5px;
}

footer nav ul li:nth-child(2){
	background: url("../images/domain-icon-white.png") no-repeat center 5px;
}

footer nav ul li:nth-child(3){
	background: url("../images/mail-icon-white.png") no-repeat center 5px;
}

footer nav ul li:nth-child(4){
	background: url("../images/hosting-icon-white.png") no-repeat center 5px;
}

footer nav ul li:nth-child(5){
	background: url("../images/info-icon-white.png") no-repeat center 5px;
}


footer nav ul li:nth-child(1):hover, footer nav ul li:nth-child(2):hover, footer nav ul li:nth-child(3):hover, footer nav ul li:nth-child(4):hover, footer nav ul li:nth-child(5):hover{
	opacity: .3;
}

.detail-content h2{
	font-size: 2.1em;
}

#page .fourcol{
	display: none;
}

.sixcol.detail-content{
	width: 90%;
	margin-right: 0;
}

.detail-content h2{
	font-size: 1.6em;
}

.detail-content .button{
	width: 80%;
	margin: 0 10%;
}

/*------------------contact form---------------------*/

form#contact-form{
	width: 250px;
	padding-right: 0;
}

.input-label label, legend{
	font-size: 1.2em;
	line-height: 2.5;
}
.input-label input[type="text"], .input-label input[type="email"], .input-label label, .input-label textarea, .input-label select{
	float: none;
	width: 90%;
	font-size: 1.3em;
}

.input-label label[for="first_name"], .input-label label[for="email"], .input-label label[for="state"]{
	display: none;
}

.required{
	float: none;
	margin: 0;
}

.input-label .button-small{
	float: none;
	width: 220px;
	margin: 0 auto;
}


/*------------------ Hosting Page ---------------------*/


.featured-small{
	max-width: 300px;
}

/*------------------ Domain Name Page ---------------------*/


input#domain-search, section#domain select{
	font-size: 1.6em;
}


} /*---/query---*/










