



/* 	Copyright Adam Gedney 3/4/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*==============COLORS=====================

     purple #5e4f77
dark purple #473c5a
	  white #f4f4f4
  dark grey #232323
 light grey #565658

==========================================*/


/*==============FONTS=======================

font-family: 'Open Sans', sans-serif;
font-family: 'Varela Round', sans-serif;

==========================================*/

/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}





/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
	color: #424242;
	font: 62.5% 'Open Sans', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	height: 100%;
}

h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 4.5em;
	line-height: 1.8em;
	color: #000;
	text-transform: uppercase;
	text-shadow: 0 2px 0 #2E2E2F;
}

h2, h3, h4, h5{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

h2{
	font-size: 2.7em;
	font-weight: 100;
	line-height: 1.14em;
	color: #232323;
}

h2.alt{
	font-weight: 100;
}

h2.alt strong{
	font-weight:400;
}

h3, label, legend{
	color: #000;
	font-size: 1.9em;
	line-height: 1.8em;
}

p, ul, ol, dl, blockquote{
	font-size: 1.8em;
	line-height: 2.1;
	margin-bottom: 20px;
	font-weight: 100;
}

ul{
	line-height: 1.3em;
}

a{
	outline: none;
	text-decoration: none;
	color: #5e4f77;
}

strong{
	font-weight: 700;
}

blockquote{
	font-style: italic;
	margin: 36px 8.004803%; /* 36 from 449.73 (fivecol width) */
}

input{
	font-size: 2.1em;
	color: #CECECE;

}

.container{
	padding: 0;
}



/*--------------------------------------Micro Clearfix--------------------------------------------*/


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*-------------------------------------- Start Buttons-------------------------------------------*/


.button{
	display: block;
	width:286px;
	height:70px;
	background: #5e4f77;
	color:#f4f4f4;
	text-transform: uppercase;
	text-align: center;
	line-height: 72px;
	font-size: 2.1em;
	border: 1px solid #473c5a;
}

.button:visited{
	background: #473c5a;
	color: #fff;
}

.button:hover{
	background: #473c5a;
	color: #045B8C;
	transition-duration: 1s
}

.button-small{
	display: block;
	width:239px;
	height:70px;
	background: #5e4f77;
	color:#f4f4f4;
	text-transform: uppercase;
	text-align: center;
	line-height: 72px;
	font-size: 1.8em;
	border: 1px solid #473c5a;
}

.button-small:visited{
	background: #473c5a;
	color: #fff;
}

.button-small:hover{
	background: #473c5a;
	color: #045B8C;
	transition-duration: .8s
}







/*--------------------------------------End Buttons/ Start Header------------------------------------*/


header{
	height: 54px;
	width: 100%;
	padding: 0 1.754386%; /* 20 from 1140 */
	overflow: hidden;
	background: #5e4f77;
}

.home-featured header{
	background: none;
	height: 72px;
	padding-top: 18px;
}

header h1{
	float: left;
	display: inline-block;
	background: url("../images/logo.png") no-repeat;
	margin-top: -9px;
	max-width: 100%;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

header nav{
	float: left;
	margin-top: 13px;
}

header nav ul{
	overflow: hidden;
}

header nav ul li{   
	float: left;
	padding: 5px 10px; /* not sure where to get the context width from? */
}

header nav ul li a{
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	color: #f4f4f4;
}

header nav ul li a:hover{
	color: #8A0808;
	transition-duration: .8s
}


/*--------------------------------------End Header/ Start Landing-------------------------------*/

.container.home-image{
	background: url("../images/Woman_using_computer.jpg") no-repeat center top;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
			 -o-background-size: cover;
				background-size: cover;
	height: 864px;

}

.landing {
	margin: 54px 10% 0;
	text-align: center;
	overflow: hidden;
}

.landing h1, .landing h2, .landing p{
	color: #d7dad3;
}

.landing h2{
	margin-bottom: 54px;
}

.landing p{
	width: 50%;
	margin: 0 25% 108px;
	
}

.landing .button{
	margin: 0 auto;
	opacity: .8;
}

#scroll-indicator{
	float: right;
}



/*--------------------------------------End Landing/ Start Entry Points-------------------------------*/

.entry-points.container{
	background: #cec7d1 url("../images/entry-bg.jpg");
	overflow: visible;
	padding: 36px 0;
}

.row .fourcol {
	width: 30.74%;
}

.entry-points .fourcol{
	text-align: center;
	border-left: solid 1px #959595;
	margin: auto 0;
	padding-right: 1.2%;
	padding-left: 1.2%;
}

.entry-points .fourcol:first-child{
	border-left: none;
}

.entry-points .fourcol:last-child p{
	margin-bottom: 60px;
}

.entry-points .button-small{
	width: 241px; /* 68.749109% 241 from 350.55(fourcol width) */
	margin: 36px auto 30px;
}

.entry-points img{
	display: block;
	margin: 0 auto;
}

.entry-points p, .entry-points h2{
	color: #232323;
	text-align: left;
	margin: 6px 14.833833%; /* 52 from 350.55 */
	width: 69.890173%; /* 245 from 350.55 */
}
.entry-points p{
	font-size: 1.6em;
	line-height: 1.7em;
}




/*--------------------------------------End Entry Points / Start Home Details-------------------------------*/


.home-detail.container{
	background: #f4f4f4;
	height: 792px;
}


/*-------------Thumbnail Grid --------------*/


.thumbnail-grid{
	margin: 132px 7.2% 132px 0; /* 14.619883% 80 from  547.2 (sixcol width)  7.2% is an estimate */
}

.thumbnail-grid img{
	width: 24.122807%; /* 132 from 547.2 (sixcol width) */
	float: left;
	opacity: .5;
}

.thumbnail-grid img:first-child{
	margin-left: 48.245614%; /* 264 from 547.2 */
	margin-right: 24.122807%; /* 132 from 547.2 */
}

.thumbnail-grid img:nth-child(4){
	margin-right: 24.122807%; /* 132 from 547.2 */
	opacity: 1;
}

.thumbnail-grid img:nth-child(5){
	margin-left: 24.122807%; /* 132 from 547.2 */
}

.thumbnail-grid img:nth-child(8){
	margin-left: 48.245614%; /* 264 from 547.2 */
}

.thumbnail-grid img:hover{
	opacity: 1;
	transition-duration: .8s
}


/*-------------End Thumbnail Grid --------------*/


.home-detail-content{
	color: #000;
	margin-top: 132px;
	overflow: hidden;
}

.home-detail-content h2, .detail-content h2 {
	margin-bottom: 36px;
}

.home-detail-content .button, .detail-content .button{
	width: 288px; /* 64.038423% 288 from 449.73 (fivecol width)  */
	float: right;
	display: block;
	margin-top: 18px;
}





/*--------------------------------------End / Start Footer-------------------------------*/


footer{
	background: #232323;
	height: 108px;
}

footer .sixcol{
	text-align: center;
}

footer p{
	color: #f4f4f4;
	margin: 18px auto 0;
}

footer nav{
	margin: 0 14%;
}

footer nav ul{
	overflow: hidden;
}

footer nav ul li{   
	float: left;
	padding: 5px 10px; /* not sure where to get the context width from? */
}

footer nav ul li a{
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	color: #f4f4f4;
	font-size: .6em;
}

footer nav ul li a:hover{
	color: #8A0808;
	transition-duration: .8s
}





/*--------------------------------------Page/Contact Page-------------------------------*/


#page{
	min-height: 912px;
	padding-top: 108px;
	background: #f4f4f4;
}

#page-short{
	padding-top: 36px;
	background: #f4f4f4;
	margin-bottom: 216px;
}

.detail-content{
	margin-top: 0;
}

.detail-content [type="submit"] {
	border: none;
}

.sixcol.detail-content{
	float: right;
	margin-right: 65px;
}

.slider{
	width: 330px;
	height: 442px;
	background: url("../images/shadow.png") no-repeat bottom center;
}
.image-sub{
	margin-top: 90px;

}

.image-sub img{
	display: block;
	max-width: 102px;
	max-height: 88px;
	margin: 0 auto 21px;
}

/*---------------------------------------*/

#contact-form{
	width: 420px;
}
.input-label{
	overflow: auto;
}

.input-label label{
	width: 70px;
	float: left;
	text-align: right;
	margin-right: 10px;
	line-height: .8em;
}

.input-label input, textarea{
	width: 320px;
	float: right;
	margin-bottom: 18px;
}

.input-label select{
	width: 160px;
	height: 18px;
	margin-left: 15px;
}

.input-label .button-small{
	width: 100px;
	float: right;
	border: none;
}

.checkbox{
	margin: 18px 0;
}

.checkbox input{
	width: 21px;
	height: 21px;
	float: left;
	margin-left: 95px;
}

.checkbox label{
	width: 200px;
	float: left;
	text-align: left;
	margin-left: 10px;
}

.checkbox legend{
	width: 70px;
	margin-bottom: -33px;
	line-height: .9em;
	text-align: right;
}





/*--------------------------------------Domain Name Page-------------------------------*/

form#domain{
	overflow: hidden;
	margin-bottom: 18px;
}

form#domain select{
	float:left;
	width: 80px;
	height: 41px;
	border: solid 1px #000;
	font-size: 2.1em;
	margin-left: 5px;
}

input#domain-search{
	width: 351px;
	height: 34px;
	float: left;
}

input.button-small{
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 5px;
}





/*--------------------------------------Hosting Page-------------------------------*/


.row.cf.plans .twelvecol{
	text-align: center;
	margin-bottom: 108px;
}

.plan-title{
	display: block;
	width:180px;
	height:55px;
	background: #1f0f32;
	margin: -70px auto 0;
}

.plan-title:after{
	content: " ";
    width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 15px 0 15px;
	border-color: #1F0F32 transparent transparent
}

.plan-title h2{
	color: #f4f4f4;
	font-weight: 500;
	text-align: center;
	line-height: 55px;
}

.plan-detail h3{
	padding: 9px 5px;
	margin: 0 50px;
	border-bottom: 1px solid #959595;
	text-align: left;
	color: #565658;
}

.plan-detail h3:first-child{
	line-height: 45px;
	font-size: 4.5em;
	margin-top: 18px;
	text-align: center;
	color: #232323;
}

.plan-detail h3 small{
	font-size: .4em;
}

.plan-detail h3 sup{
	vertical-align: top;
}

img.featured-small{
	margin-bottom: 36px;
}





















