



/* 	Copyright Adam Gedney 3/4/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*==============COLORS=====================

body bg
p font

==========================================*/


/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}







/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
	background: url("../images/noise.png") #fafafa;
	color: #424242;
	font: 62.5% "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 3.8em;
	line-height: 1.3em;
	color:#fafafa;
}

h2{
	font-size: 2.6em;
	line-height: 1.14em;
	color:#8A0808;
}

h3{
	color: #1c1c1c;
	font-size: 1.9em;
	line-height: 1.8em;
}

p, ul, ol, dl{
	font-size: 1.8em;
	line-height: 2.1;
	margin-bottom: 20px;
	font-weight: 100;
}

ul{
	line-height: 1.3em;
}

a{
	text-decoration: none;
	color: #08298A;
}

.strong{
	font-weight:500;
}

/*--------------------------------------End General / Start Main------------------------------------*/

#wrapper {	
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	overflow: hidden;
}

header{
	height: 150px;
	border-bottom: 1px solid #6e6e6e;
	padding: 0 20px;
}

header h1{
	display: inline-block;
	background: url("../images/logo.png") no-repeat;
	width: 396px;
	height: 99px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

nav{
	float: right;
}

nav ul{
	overflow: hidden;
}

nav ul li{   /* do I really have to define a width EVERY time I float?  Screws up my nav*/
	float: left;
	padding: 5px;
}

nav ul li a{
	text-transform: uppercase;
	text-align: center;
	font-size: .7em;
}

nav ul li a:hover{
	color: #8A0808;
}

footer{
	height: 100px;
}

footer p{
	width: 450px;
	margin: 0 auto;
}























